# cache & logs
**/*/__pycache__/
**/*/logs/
logs/

# data files
*.tar
data/
**/*/data/
*.tar.gz

# IDE files
.vscode/
.idea/

# saved models
*.pkl
*.onnx
*.pt

# environment variables
.env
**/*.env
**/*/config.json